In [65]:
# testing pickle file
import pickle
import os

In [66]:
# loading Fed Speeches
df = pickle.load( open( "all_fed_speeches", "rb" ) )

In [67]:
df.sample(10)

,date,speaker,title,link,text
337,2011-11-11,Vice Chair Janet L. Yellen,Pursuing Financial Stability at the Federal Re...,/newsevents/speech/yellen20111111a.htm,\n Let me begin by thanking the Federal ...
127,2007-04-11,Chairman Ben S. Bernanke,Financial Regulation and the Invisible Hand,/newsevents/speech/bernanke20070411a.htm,Market forces determine most outcomes in our e...
273,2009-02-16,Governor Elizabeth A. Duke,Stabilizing the Housing Market: Focus on Commu...,/newsevents/speech/duke20090216a.htm,It is great to be back here with community ban...
648,2017-06-01,Governor Jerome H. Powell,Thoughts on the Normalization of Monetary Policy,/newsevents/speech/powell20170601a.htm,Thank you for the opportunity to speak here at...
174,2008-06-16,Chairman Ben S. Bernanke,Challenges for Health-Care Reform,/newsevents/speech/bernanke20080616a.htm,Improving the performance of our health-care s...
0,2006-12-15,Chairman Ben S. Bernanke,The Chinese Economy: Progress and Challenges,/newsevents/speech/bernanke20061215a.htm,The emergence of China as a global economic po...
495,2014-08-22,Chair Janet L. Yellen,Labor Market Dynamics and Monetary Policy,/newsevents/speech/yellen20140822a.htm,\n In the five years since the end of th...
693,2018-08-24,Chairman Jerome H. Powell,Monetary Policy in a Changing Economy,/newsevents/speech/powell20180824a.htm,Thank you for the opportunity to speak here to...
409,2012-04-13,Chairman Ben S. Bernanke,Some Reflections on the Crisis and the Policy ...,/newsevents/speech/bernanke20120413a.htm,\n I would like to thank the conference ...
341,2011-11-04,Governor Daniel K. Tarullo,The International Agenda for Financial Regulation,/newsevents/speech/tarullo20111104a.htm,\n Long before the recent financial cris...

## Testing interest rate data

In [82]:
df = pickle.load(open("data/interest_rate_data", "rb" ) )

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3313 entries, 2006-01-03 to 2019-03-28
Data columns (total 8 columns):
3 MO     3313 non-null float64
6 MO     3313 non-null float64
1 YR     3313 non-null float64
2 YR     3313 non-null float64
3 YR     3313 non-null float64
5 YR     3313 non-null float64
7 YR     3313 non-null float64
10 YR    3313 non-null float64
dtypes: float64(8)
memory usage: 232.9 KB

In [81]:
pwd

'/Users/davidsmith/Documents/Galvanize/Capstone'

In [79]:
df = pickle.load( open( "data/FX_data", "rb" ) )

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3316 entries, 2006-01-03 to 2019-03-22
Data columns (total 3 columns):
Value    3316 non-null float64
GBP      3316 non-null float64
JPY      3316 non-null float64
dtypes: float64(3)
memory usage: 103.6 KB

In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import quandl
import pickle
import os

In [64]:
whos

Variable   Type         Data/Info
---------------------------------
df         DataFrame                3 MO  6 MO  1<...>\n[3313 rows x 8 columns]
df_EUR     DataFrame                 Value     GB<...>\n[3316 rows x 3 columns]
df_FX      DataFrame                 Value     GB<...>\n[3316 rows x 3 columns]
df_GBP     DataFrame                 Value\nDate <...>\n[3316 rows x 1 columns]
df_JPY     DataFrame                 Value\nDate <...>\n[3316 rows x 1 columns]
np         module       <module 'numpy' from '/an<...>kages/numpy/__init__.py'>
os         module       <module 'os' from '/anaco<...>da3/lib/python3.6/os.py'>
pd         module       <module 'pandas' from '/a<...>ages/pandas/__init__.py'>
pickle     module       <module 'pickle' from '/a<...>lib/python3.6/pickle.py'>
plt        module       <module 'matplotlib.pyplo<...>es/matplotlib/pyplot.py'>
quandl     module       <module 'quandl' from '/a<...>ages/quandl/__init__.py'>
sns        module       <module 'seaborn' from '/<...>ges/seaborn/__init__.py'>

In [83]:
# testing dataframe merging crap

In [85]:
df.head()

            3 MO  6 MO  1 YR  2 YR  3 YR  5 YR  7 YR  10 YR
Date
2006-01-03  4.16  4.40  4.38  4.34  4.30  4.30  4.32   4.37
2006-01-04  4.19  4.37  4.35  4.31  4.28  4.28  4.31   4.36
2006-01-05  4.20  4.37  4.36  4.32  4.29  4.29  4.31   4.36
2006-01-06  4.22  4.39  4.38  4.36  4.32  4.32  4.33   4.38
2006-01-09  4.23  4.40  4.39  4.36  4.32  4.32  4.34   4.38